* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style-type: none;
}

/* BUTTON  for NAV*/

.nav-link:hover {
  color: lightskyblue;
}
.fixednav {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999;
}
/* HEADER */
.bannerbg {
  background-image: url(../imgs/banner-bg.png);
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 100px;
  min-height: 550px;
  background-size: cover;
  background-repeat: no-repeat;
}
.bannerimg {
  background-position: center;
  background-size: cover;
  background-image: url(../imgs/banner-image.png);
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 100px;
  min-height: 700px;
}
/* HEADER BTN */
.custombtn {
  background-color: transparent;
}
/* 3 ROW */
.paddingcntr {
  padding-left: 100px;
  padding-right: 100px;
}
.query {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* minus and plus */

.minus::after {
  content: "-";
  position: absolute;
  left: 100%;
  top: 0;
  cursor: pointer;
}
.minus,
.plus {
  position: relative;
}
.plus::after {
  content: "+";
  position: absolute;
  left: 100%;
  top: 16px;
  cursor: pointer;
}
/* carousel */
.carousel-indicators [data-bs-target] {
  background-color: gray;
  height: 17px;
  width: 17px;
  border-radius: 100%;
  border-top: 0;
  border-bottom: 0;
  position: static;
}
.carousel-indicators {
  position: static;
  align-items: center;
}

.carousel-indicators > button:focus {
  opacity: 100%;
  background-color: blue;
  outline: solid blue;
  border: solid white;
}

/* INFO SECTIOn */

.borderseparator {
  border-right: solid 1px rgba(234, 236, 239);
  border-left: solid 1px rgba(234, 236, 239);
}
