* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style-type: none;
}

/* BUTTON  for NAV*/

.nav-link:hover {
  color: lightskyblue;
}

/* HEADER */
.bannerbg {
  background-image: url(../imgs/banner-bg.png);
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 100px;
  min-height: 550px;
  background-size: cover;
  background-repeat: no-repeat;
}
.bannerimg {
  background-position: center;
  background-size: cover;
  background-image: url(../imgs/banner-image.png);
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 100px;
  min-height: 700px;
}
/* HEADER BTN */
.custombtn {
  background-color: transparent;
}
/* 3 ROW */
.paddingcntr {
  padding-left: 100px;
  padding-right: 100px;
}
.query {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* MEDIA FOR CENTRAL IMG */
@media screen and (min-width: 2000px) {
  .query {
    align-items: start;
  }
}
@media screen and (min-width: 1200px) {
  .ducksuper {
    height: 70%;
  }
}
